<section id="column_bar">
    <div id="div1">
      Column 1
    </div>

    <div id="div2">
      Column 2
    </div>

    <div id="div3">
      Column 3
    </div>

    <div id="div4">
      Column 4
    </div>

    <div id="div5">
      Column 5
    </div>

    <div id="div6">
      Column 6
    </div>
</section>