;;;
"title": "HYFN8 - About Us"
;;;

<%= partial 'layouts/demo_form'  %>
<%= partial 'layouts/header'  %>

<section id="carousel" class="about">
  <h2 class="carousel_header">About HYFN8</h2>

  <p class="carousel_subtitle">
    HYFN8 is a proprietary social media management platform that enables marketers from all walks to deeply engage with their target audiences in real time.
  </p>

  <a class="btn" href="/downloads/HYFN8_Overview.pdf">Download One Sheet</a>

</section>


<div id="about_us_content">

  <div class="left_side">
    <section id="overview">
      <h2>OVERVIEW</h2>

      <div>
        <p>HYFN8 is a leading social media management platform with 5 key differentiators.

        <br/><br/>
            HYFN8 is a One-stop solution for managing all of your social posts, social listening, social ad buys and deep analytics. We’re taking a fragmented space and consolidating it.<br/><br/>
            We allow 3rd party app developers to plug and play with our system so brands can access data in one location at any time.<br/><br/>
            HYFN8 has proprietary technology that analyzes users' social behavior and will recommend peak days and times when your posts will be most effective.<br/><br/>
            We do a deep dive and allow brands to monitor social conversations around their brand or competition in real time and marry that data with the Facebook Ads API. This allows marketers to create relevant advertising based on real time conversations.<br/><br/>
            HYFN8 is the only platform in the industry supported by a leading digital agency. The HYFN team understands that social is one component of your overall strategy. We work directly with you to optimize your social, mobile, and web initiatives creating the full circle.<br/><br/>
        </p>
      </div>
    </section>

    <section id="facebook_marketing">

      <div id="left_side">
        <h3>Facebook Preferred Marketing Developer</h3>
        <p>
          HYFN is one of a small handful of companies in the world with all four badges in Facebook’s Preferred Marketing Developer program, marking expertise in Pages, Apps, Ads and Insights.  Along with staying ahead of the curve on updates and new features, we work closely with Facebook on finding ways to more effectively leverage the social network’s marketing capabilities.
        </p>
      </div>

      <div id="right_side">
        <a href="http://www.facebook-pmdcenter.com/profiles/view/10742"><img src="/img/facebook_strategic.png"></a>
      </div>

    </section>

    <section id="service_agency">
      <h2>Backed by a Full Service Agency</h2>
      <div>
        <p>HYFN8’s unique technology, user experience and perpetual innovation are rooted in its award winning digital agency <a href="http://www.hyfn.com">HYFN</a>. Supporting a roster of elite agency and brand partners, HYFN built the SMMS platform based on the needs and feedback of its clients.</p>
      </div>
      <div>
        <img src="/img/about_us_logos.png">
      </div>

    </section>

  </div>

  <aside class="jobs">
    <div class="icon_set">&#xe00b;</div>

    <h1>Careers</h1>

    <h3>JavaScript / UX Developer</h3>
    <div>
      <p>You are a talented front-end developer who writes clean, well-organized CSS and HTML and composes JS beyond the walled garden of JQuery.</p>
    </div>
    <a href="http://hyfn.com/careers/frontend-developer/" target="_blank">Apply</a>

    <h3>Senior Rails Developer</h3>
    <div>
      <p>We’re seeking talented Ruby / Rails developers for both product work and client work at our tech-focused interactive agency.</p>
    </div>
    <a href="http://hyfn.com/careers/ruby-developer/" target="_blank">Apply</a>

  </aside>

</div>

<%= partial 'layouts/footer' %>

