;;;
"title": "HYFN8 - Browse Happy"
;;;


<div id="content" class="browse_happy">
  <div id="happy_content">
    <table class="inner_container">
      <tr>
        <td class="inner_cell">
          <h1>The internet.<br/>
            You're doing it wrong.</h1>

          <div id="upgrade">Please upgrade to a modern browser.</div>
        </td>
      </tr>
    </table>
  </div>
</div>

