;;;
"title": "HYFN8 - Thank You"
;;;

<%= partial 'layouts/demo_form'  %>
<%= partial 'layouts/header' %>


<div id="content" class="thank_you">

<!--
<%= partial 'layouts/column_bar' %>
-->

  <section id="carousel">
    <h1 class="carousel_header">Thank You!</h1>
    <p class="carousel_subtitle_thanks">Your Request Has Been Received!</p>

    <div>
      <a href="/" class="lime_button">Back to Home</a>
    </div>
  </section>



</div>

<%= partial 'layouts/footer' %>
